<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Результат</title>
    <link rel="icon" href="/icons/dark_character/dark-masyanya-glasses.png" />
    <link rel="stylesheet" href="/styles/light_mode/final_result.css" />
  </head>
  <body>
    <div class="container">
    <div class="title">ПОЗДРАВЛЯЕМ!</div>
    <div class="image-wrapper">
        <img src="/icons/dark_character/dark-masyanya-congrats.png">
    </div>
    <div class="result">
    <div class="result-caption">Твой рекорд</div>
    <div class="result-score"><%= playerInfo[0].right_answers %>/6</div>
    </div>
    <button class="btn-get-prizes">ПОЛУЧИТЬ ПРИЗ</button>    
    </div>
    </div>
    </div>
    </div>
  <script src="/scripts/ru/light_mode/final_result.js"></script>
  </body>
</html>
