<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Регистрация</title>
    <link rel="icon" href="/icons/light_character/light-masyanya-glasses.png" />
    <link rel="stylesheet" href="/styles/light_mode/registration.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
    <div class="info-box">
        <div class="logo-desktop">
        <div class="logo-desktop-wrapper">
          <img src="/icons/productstar-dark-blue.png">
        </div>
        <div class="exit-desktop-wrapper">
          <img src="/icons/exit-white.png">
        </div>
        <div class="desktop-game-name">ПРАВДА ИЛИ ЛОЖЬ</div>
        </div>
        <div class="logo-mobile">
            <img src="/icons/productstar-white.png">
            <div class="mobile-game-name">ПРАВДА ИЛИ ЛОЖЬ</div>
        </div>
    <div class="cta-signup">пройдите регистрацию</div>
    </div>
    <div class="form-wrapper">
        <form id="signup-form" method="POST">
            <label for="name">Имя</label>
            <input type="text" name="name" id="name" required />
            <label for="phone-number">Номер телефона</label>
            <input type="text" name="phone-number" id="phone-number" />
            <label for="email">Электронная почта</label>
            <input type="email" name="email" id="email" required />
            <div class="confirmation-box">
            <div class="checkbox-wrapper">
            <input class="checkbox" type="checkbox" name="agreement" id="confirmation" required />
            <span class="checkmark"></span>
            </div>
            <div class="confirmation-text">Я подтверждаю согласие на обработку персональных данных в соответствии с условиями  <a class="accept-link" href="https://productstar.ru/confpolitics">Политики конфиденциальности</a></div>
            </div>
            <div class="start-game">
                <button type="submit" class="btn-start">НАЧАТЬ ИГРУ</button>
            </div>
        </form>
    </div>
    </div>  
    </div>
    <div class="modal-window">
      <span class="close">&times;</span>
      <div class="modal-window-content">
        <div class="content-title">ВОЗМОЖНЫЕ ОШИБКИ ПРИ РЕГИСТРАЦИИ</div>
        <div class="for-errors"></div>
      <!-- Here will be shown all the infos about possible validation errors -->
      <button class="btn-back">ВЕРНУТЬСЯ К РЕГИСТРАЦИИ</button>
      </div>
      </div>
  <script type="module" src="/scripts/ru/light_mode/registration.js"></script>
  </body>
</html>
