<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Главная</title>
    <link rel="stylesheet" href="/styles/dark_mode/start.css" />
  </head>
  <body>
    <div class="top-bar">
        <img class="logo" src="/icons/productstar-dark-blue.png">
        <div class="dropdown">
          <span>
            <svg width="237" height="240" viewBox="0 0 237 240" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M139 174.5L190.5 218V174.5H197C213.569 174.5 227 161.069 227 144.5V40C227 23.4315 213.569 10 197 10H40C23.4315 10 10 23.4315 10 40V144.5C10 161.069 23.4315 174.5 40 174.5H139Z" stroke="#1D2136" stroke-width="20"/>
            <path d="M99.252 124.5L84.852 99.636H72.084V124.5H61.044V57.3H87.252C91.476 57.3 95.316 58.196 98.772 59.988C102.228 61.78 104.916 64.308 106.836 67.572C108.82 70.836 109.812 74.484 109.812 78.516C109.812 83.06 108.564 87.092 106.068 90.612C103.572 94.068 100.244 96.564 96.084 98.1L111.636 124.5H99.252ZM72.084 67.668V89.268H86.58C88.372 89.268 90.004 89.012 91.476 88.5C93.012 87.988 94.292 87.252 95.316 86.292C96.34 85.332 97.14 84.18 97.716 82.836C98.292 81.492 98.58 80.02 98.58 78.42C98.58 75.284 97.46 72.724 95.22 70.74C93.044 68.692 90.164 67.668 86.58 67.668H72.084ZM149.879 125.748C142.071 125.748 135.607 123.284 130.487 118.356C125.367 113.428 122.807 107.092 122.807 99.348V57.3H133.943V98.676C133.943 103.604 135.415 107.604 138.359 110.676C141.303 113.684 145.143 115.188 149.879 115.188C154.551 115.188 158.359 113.684 161.303 110.676C164.247 107.604 165.719 103.604 165.719 98.676V57.3H176.759V99.348C176.759 107.092 174.199 113.428 169.079 118.356C164.023 123.284 157.623 125.748 149.879 125.748Z" fill="#1D2136"/>
            </svg>
            </span>
        <div class="dropdown-content">
          <a href="/">RU</a>
          <a href="en">EN</a>
          <a href="de">DE</a>
        </div>
        </div>
    </div>
    <div class="container-wrapper">
    <div class="container">
        <div class="game-logo-wrapper">
            <img class="game-logo" src="/icons/light_character/masyanya_without_pupils.png">
            <img class="pupil-right" src="/icons/light_character/pupil.png" />
            <img class="pupil-left" src="/icons/light_character/pupil.png" />
        </div>
        <div class="game">ИГРА</div>
        <div class="game-name">ПРАВДА ИЛИ ЛОЖЬ</div>
        <a href="ru/registration"><button class="btn-take-part">УЧАСТВУЮ</button></a>
        <div class="rules">ПРАВИЛА ИГРЫ</div>
    </div>
    <div class="mode-wrapper">
      <a href="light-mode/ru">
      <img src="/icons/mode_switchers/switcher-night.png">
      </a>
    </div>
    </div>
    <div class="modal-window">
      <span class="close">&times;</span>
      <div class="modal-window-content">
      <div class="content-title">ПРАВИЛА ИГРЫ</div>
      <div class="content-options">
        <button class="btn-true">ПРАВДА</button>
        <div class="or">или</div>
        <button class="btn-false">ЛОЖЬ</button>
      </div>
      <div class="content-description">Познавательно - развлекательная игра, цель которой - проверить интуицию и чувство юмора пользователя. Игрокам предлагается возможность набрать максимальное количество правильных ответов за одну попытку. В самом конце игры участник может увидеть итоговый результат и получить небольшой приз. Узнай какие продукты выдуманные, а какие правда существуют!</div>
      <a href="ru/registration"><button class="btn-play">ИГРАТЬ</button></a>
      </div>
      </div>
    <script src="/scripts/ru/dark_mode/start.js"></script>
  </body>
</html>
