<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign in</title>
    <link rel="icon" href="/icons/dark_character/dark-masyanya-glasses.png" />
    <link rel="stylesheet" href="/styles/dark_mode/registration.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
    <div class="info-box">
        <div class="logo-desktop">
        <div class="logo-desktop-wrapper">
          <img src="/icons/productstar-white.png">
        </div>
        <div class="exit-desktop-wrapper">
          <img src="/icons/exit-black.png">
        </div>
        <div class="desktop-game-name">TRUTH OR LIE</div>
        </div>
        <div class="logo-mobile">
            <img src="/icons/productstar-dark-blue.png">
            <div class="mobile-game-name">TRUTH OR LIE</div>
        </div>
    <div class="cta-signup">sign in!</div>
    </div>
    <div class="form-wrapper">
        <form id="signup-form">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required />
            <label for="phone-number">Phone number</label>
            <input type="text" name="phone-number" id="phone-number" />
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" required />
            <div class="confirmation-box">
            <div class="checkbox-wrapper">
            <input class="checkbox" type="checkbox" name="agreement" id="confirmation" required />
            <span class="checkmark"></span>
            </div>
            <div class="confirmation-text">Consent to personal data processing on the terms set out in the <a class="accept-link" href="https://productstar.ru/confpolitics">Confidentiality policy</a></div>
            </div>
            <div class="start-game">
                <button type="submit" class="btn-start">LET'S GET STARTED!</button>
            </div>
        </form>
    </div>
    </div>  
    </div>
    <div class="modal-window">
      <span class="close">&times;</span>
      <div class="modal-window-content">
        <div class="content-title">POSSIBLE REGISTRATION ERRORS</div>
        <div class="for-errors"></div>
      <!-- Here will be shown all the infos about possible validation errors -->
      <button class="btn-back">BACK TO GAME</button>
      </div>
      </div>
  <script type="module" src="/scripts/en/dark_mode/registration.js"></script>
  </body>
</html>
