<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Start</title>
    <link rel="stylesheet" href="/styles/light_mode/start.css" />
  </head>
  <body>
    <div class="top-bar">
        <img class="logo" src="/icons/productstar-dark-blue.png">
        <div class="dropdown">
          <span>
            <svg width="237" height="240" viewBox="0 0 237 240" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M139 174.5L190.5 218V174.5H197C213.569 174.5 227 161.069 227 144.5V40C227 23.4315 213.569 10 197 10H40C23.4315 10 10 23.4315 10 40V144.5C10 161.069 23.4315 174.5 40 174.5H139Z" stroke="#1D2136" stroke-width="20"/>
              <path d="M75.084 114.036H104.172V124.5H64.044V57.3H103.116V67.668H75.084V85.14H100.62V95.316H75.084V114.036ZM161.548 57.3H172.396V124.5H163.084L128.236 76.5V124.5H117.388V57.3H127.372L161.548 104.532V57.3Z" fill="#1D2136"/>
              </svg>              
          </span>
        <div class="dropdown-content">
          <a href="ru">RU</a>
          <a href="en">EN</a>
          <a href="de">DE</a>
        </div>
        </div>
    </div>
    <div class="container-wrapper">
    <div class="container">
        <div class="game-logo-wrapper">
            <img class="game-logo" src="/icons/dark_character/masyanya_without_pupils.png">
            <img class="pupil-right" src="/icons/dark_character/pupil.png" />
            <img class="pupil-left" src="/icons/dark_character/pupil.png" />
        </div>
        <div class="game">GAME</div>
        <div class="game-name">TRUTH OR LIE</div>
        <a href="en/registration"><button class="btn-take-part">PARTICIPATE</button></a>
        <div class="rules">RULES</div>
    </div>
    <div class="mode-wrapper">
      <a href="/game/en">
      <img src="/icons/mode_switchers/switcher-morning.png">
      </a>
    </div>
    </div>
    <div class="modal-window">
      <span class="close">&times;</span>
      <div class="modal-window-content">
      <div class="content-title">RULES OF THE GAME</div>
      <div class="content-options">
        <button class="btn-true">TRUTH</button>
        <div class="or">or</div>
        <button class="btn-false">LIE</button>
      </div>
      <div class="content-description">It is an edutaining game the main purpose of which is to test your intuition and sense of humor. You have a chance to score as many points as possible in one attempt. At the very end of the game you can get your final result and a small prize. Find out what products are made-up and what really exist!</div>
      <a href="en/registration"><button class="btn-play">LET'S PLAY!</button></a>
      </div>
      </div>
    <script src="/scripts/en/light_mode/start.js"></script>
  </body>
</html>
